
@model List<Producto3.Models.productos>
@{
    ViewBag.Title = "Listado de Productos";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Listado de Productos</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Imagen</th>
    </tr>
    @foreach (var producto in Model)
    {
        <tr>
            <td>@producto.idArt</td>
            <td>@producto.nombre</td>
            <td>@producto.descripcion</td>
            <td>@producto.precio</td>
            <td><img src="@Url.Content(producto.imagen)" alt="Imagen del producto" style="max-width: 100px;" /></td>
        </tr>
    }
</table>
